<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name></display-name>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>HandleRegister</servlet-name>
    <servlet-class>com.keshe.myservlet.control.HandleRegister</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>HandleLogin</servlet-name>
    <servlet-class>com.keshe.myservlet.control.HandleLogin</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>HandleExit</servlet-name>
    <servlet-class>com.keshe.myservlet.control.HandleExit</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>HandlePublish</servlet-name>
    <servlet-class>com.keshe.myservlet.control.HandlePublish</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>HandlePassword</servlet-name>
    <servlet-class>com.keshe.myservlet.control.HandlePassword</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>HandleIndex</servlet-name>
    <servlet-class>com.keshe.myservlet.control.HandleIndex</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>HandleComment</servlet-name>
    <servlet-class>com.keshe.myservlet.control.HandleComment</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>HandleDetail</servlet-name>
    <servlet-class>com.keshe.myservlet.control.HandleDetail</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>HandleShowComment</servlet-name>
    <servlet-class>com.keshe.myservlet.control.HandleShowComment</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>HandleManagerLogin</servlet-name>
    <servlet-class>com.keshe.myservlet.control.HandleManagerLogin</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>HandleDeleteComment</servlet-name>
    <servlet-class>com.keshe.myservlet.control.HandleDeleteComment</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>HandleManager</servlet-name>
    <servlet-class>com.keshe.myservlet.control.HandleManager</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>HandleManagerDelete</servlet-name>
    <servlet-class>com.keshe.myservlet.control.HandleManagerDelete</servlet-class>
  </servlet>













  <servlet-mapping>
    <servlet-name>HandleRegister</servlet-name>
    <url-pattern>/helpRegister</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HandleLogin</servlet-name>
    <url-pattern>/helpLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HandleExit</servlet-name>
    <url-pattern>/helpExit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HandlePublish</servlet-name>
    <url-pattern>/helpPublish</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HandlePassword</servlet-name>
    <url-pattern>/helpChangePassword</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HandleIndex</servlet-name>
    <url-pattern>/helpIndex</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HandleComment</servlet-name>
    <url-pattern>/helpComment</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HandleDetail</servlet-name>
    <url-pattern>/helpDetail</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HandleShowComment</servlet-name>
    <url-pattern>/helpShowComment</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HandleManagerLogin</servlet-name>
    <url-pattern>/helpManagerLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HandleDeleteComment</servlet-name>
    <url-pattern>/helpDeleteComment</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HandleManager</servlet-name>
    <url-pattern>/helpManager</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HandleManagerDelete</servlet-name>
    <url-pattern>/helpManagerDelete</url-pattern>
  </servlet-mapping>	
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
